:root {
  --primary-color: #e0f2fe;
  --secondary-color: #7dd3fc;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

input {
  padding: auto;
  margin-bottom: 10px;
}

button {
  margin-top: 5px;
  border-color: var(--secondary-color);
  background-color: #7dd3fc;

  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}